.navburger_container {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  .navburger__ligne {
    width: 1.5rem;
    height: 2px;
    background-color: #000;
    border-radius: 5px;

    transition: width 300ms;
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      width: 1rem;
      height: 2px;
      background-color: #000;
      border-radius: 5px;
      transition: all 500ms;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 8px;
      right: 4px;
      width: 1rem;
      height: 2px;
      background-color: #000;
      border-radius: 5px;
      transition: all 500ms;
    }
  }
}

.navburger_container:hover {
  .navburger__ligne {
    //width: 0.5rem;
    &::before {
      width: 1.5rem;
    }

    &::after {
      width: 1.5rem;
    }
  }
}

.animate {
  .navburger__ligne {
    width: 0;
    // opacity: 0;
    &::before {
      width: 2rem;
      // transform: translate(-17px, 7px) rotate(45deg);
      transform: translate(-5px, 7px) rotate(45deg);
    }

    &::after {
      width: 2rem;
      //  transform: translate(5px, -7px) rotate(-45deg);
      transform: translate(0px, -7px) rotate(-45deg);
    }
  }
}

.animate:hover {
  .navburger__ligne {
    //width: 0.5rem;
    &::before {
      width: 1rem;
    }

    &::after {
      width: 1rem;
    }
  }
}

.animate:not(:hover) {
  .navburger__ligne {
    //width: 0.5rem;
    &::before {
      width: 1rem;
    }

    &::after {
      width: 1rem;
    }
  }
}

@media screen and (min-width: 860px) {
  .navburger_container {
    display: none;
  }
}
