.work_info-container {
  box-shadow: 0px 3px 6px #6d6d6d29;
  border-radius: 8px;

  .to_middle {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 80px);
    margin: auto;
  }
}

@media screen and (max-width: 860px) {
  .work_info-container {
    box-shadow: none;
  }
}

@media screen and (max-width: 800px) {
  .work_info-container {
    .to_middle {
      justify-content: center;
      flex-wrap: wrap;

      .work-item-cont {
        justify-content: center;
        width: 50%;
      }
    }
  }
}
