.blue_color {
  background-color: #eefafe;
}
.grey_color {
  background-color: #f8f8f8;
}

.main_data-container {
  margin-top: 30px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  min-height: 455px;
  padding: 22px 21px;
  margin-bottom: 3rem;

  .main_data--navigation {
    margin-bottom: 25px;
    display: flex;

    .from_right {
      margin-left: 42px;
    }
    .from_left {
      margin-right: 42px;
    }
    .navigation_item--container {
      cursor: pointer;
      .navigation_item {
        font-size: 1.1rem;
        font-family: "Roboto";
        color: #4a4b4a;
      }

      span.active {
        font-weight: 500;
      }
    }
  }

  .about_freelancer {
    padding: 0 12px;
    color: #4a4b4a;
    text-align: left;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    line-height: 33px;
    padding-bottom: 2rem;

    .freelancer_skills {
      display: flex;
      flex-direction: column;

      .points {
        margin: 0 5px;
      }

      .skills-list {
        display: flex;
        flex-wrap: wrap;

        span.arabic_display {
          margin: 5px 0 0 15px;
        }
        span {
          padding: 2px 1rem;
          border-radius: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 15px 15px 0;
          box-shadow: 0px 3px 6px #00000029;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .main_data-container {
    .main_data--navigation {
      .navigation_item--container {
        margin-right: 1rem;
        .navigation_item {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media screen and (max-width: 310px) {
  .main_data-container {
    .main_data--navigation {
      .navigation_item--container {
        margin-right: 0.6rem;
        .navigation_item {
          font-size: 0.7rem;
        }
      }
    }
  }
}
