.cardsList_container {
  font-family: "Roboto", sans-serif;
  .section_title {
    color: #4a4b4a;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;

    width: 5rem;
  }

  span.active {
    font-weight: 500;
  }
  .cards_list {
    margin-top: 41px;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
  }
}
