.work-item-cont {
  display: flex;
  align-items: center;

  .icon {
  }
  .title {
    color: #4a4b4a;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "Roboto";
  }
  .data {
    color: #8c8c8c;
    font-size: 1.1rem;

    font-family: "Roboto";
    margin-left: 10px;
  }
}
